.createTask_container{
    position: relative;
  
    max-width: 42rem;
    min-width: 35rem;
    height: 10rem;
    padding: 1rem 2rem;

    background: #FFFFFF;

    z-index: 10;
}
.createTask_title{
    margin-bottom: 1rem;
    text-align: center;
}
.form_createTask{
    display: flex;
    justify-content: space-between;
}
.btn_cancel_create{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.btn_cancel_create button{
    background-color: #242424;
    color: aliceblue;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 15px;
    
}
.btn_cancel_create button:hover{
    background-color: blue;
}