.createTask_container{
    position: relative;
  
    max-width: 42rem;
    min-width: 35rem;
    height: 18rem;
    padding: 1rem 2rem;

    background: #FFFFFF;
    border-radius: 15px;
    z-index: 10;
}
.createTask_title{
    text-align: center;
    padding-bottom: 1.5rem;
}
.form_createTask{
    display: flex;

    flex-direction: column;
    gap: 1rem;
}
.dv_form_createTask_title{
    display: flex;
    justify-content: start;
    gap: 2.8rem;
}
.form_createTask_input{
    width: 80%;
    line-height: 1.3rem;
}
.form_createTask_textarea{
    width: 80%;
    height: 20vh;
    max-height: 6rem;
    resize: none;
    line-height: 1.3rem;
}
.btn_cancel_create{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.btn_cancel_create button{
    background-color: #242424;
    color: aliceblue;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 15px;
    
}
.btn_cancel_create button:hover{
    background-color: rgba(0, 0, 255, 0.74);
}